{% extends "layout.html" %}

{% block content %}
  
<!-- Add a svg area, empty -->
<div class="container">
    <div id="Area"></div>
</div>


<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<div class="container">
    <div class="row my-3">
        <div id="my_dataviz"></div>
    </div>
</div>


 <div class="input-group my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <select class="custom-select" id="selectButton">
                </select>
            </div>
        </div>
    </div>
</div> 

<!-- for D3 visualization -->
<script src="https://d3js.org/d3.v5.js"></script>

<script src="{{ url_for('static', filename='js/new_main.js') }}"></script>


<script>
    drawData({{ data | safe }});
</script>


{% endblock %}

